<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block css_files %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>



<!-- so here we are going to practice how to write the boiler plate in html-->
<!--lets get start-->
<!--ya we are learning how to write our html boiler plate if you gonna write it correct we will consider your application and render a job for you-->
<!--lets begin-->





